# Visual Studio
*.suo
*.user
*.userosscache
*.vspscc
[Dd]ebug/
[Rr]elease/
bin/
obj/
packages/
*.nupkg
.vs/
*.pdb
*.dll

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.vspscc

# Build results
[Dd]ebugPublic/
[Rr]eleasePublic/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache files
.vs/
*.sln.docstates
